<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>図書館検索</title>
    <link rel="stylesheet" th:href="@{/css/siimple.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css"
          integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
          integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
</head>
<body>
<div>
    <div class="siimple-jumbotron siimple-jumbotron--blue siimple-jumbotron--fluid" align="center">
        <div class="siimple-jumbotron-title">図書館検索</div>
        <div class="siimple-jumbotron-subtitle">Search for <strong>LIBRARY</strong></div>
    </div>
    <div class="sd-content siimple-content--fluid">
        <div class="siimple-grid-row">
            <div class="siimple-grid-col siimple-grid-col--2 siimple-grid-col-xl--12">
                <form id="search" class="siimple-form" method="post" th:action="@{/search}" th:object="${searchForm}">
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">都道府県</div>
                        <select class="siimple-select" th:field="*{pref}">
                            <option th:each="value : ${T(com.github.kentama7.librarysearch.data.Pref).values()}"
                                    th:value="${value}" th:text="${value}"></option>
                        </select>
                    </div>
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">市区町村</div>
                        <input type="text" th:field="*{city}" class="siimple-input siimple-input--fluid" placeholder="例：札幌市">
                    </div>
                    <div class="siimple-form-field">
                        <div class="siimple-form-field-label">図書館名</div>
                        <input type="text" th:field="*{name}" class="siimple-input siimple-input--fluid" placeholder="例：中央図書館">
                    </div>
                    <div class="siimple-form-field">
                        <div class="siimple-btn siimple-btn--blue siimple-btn--fluid" onclick="search()">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                </form>
            </div>
            <div class="siimple-grid-col siimple-grid-col--10 siimple-grid-col-xl--12">
                <div class="siimple-table siimple-table--hover" th:if="${!#lists.isEmpty(libraries)}">
                    <div class="siimple-table-header">
                        <div class="siimple-table-row">
                            <div class="siimple-table-cell">図書館名</div>
                            <div class="siimple-table-cell">住所</div>
                            <div class="siimple-table-cell">電話番号</div>
                            <div class="siimple-table-cell">URL</div>
                        </div>
                    </div>
                    <div class="siimple-table-body siimple-paragraph siimple--text-small">
                        <div class="siimple-table-row" th:each="library : ${libraries}">
                            <div class="siimple-table-cell" th:text="${library.name}"></div>
                            <div class="siimple-table-cell" th:text="${library.address}"></div>
                            <div class="siimple-table-cell" th:text="${library.tel}"></div>
                            <div class="siimple-table-cell">
                                <a class="siimple-link" th:href="${library.url}" th:text="${library.url}"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${#lists.isEmpty(libraries)}">
                    <div class="siimple-content ">There are no results.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    function search() {
        $('#search').submit();
    }
</script>
</body>
</html>
